body {
    margin: 2px;
}

#header1 {
    height: 12vh;
    width: 100%;
    background-color: grey;
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: start;
    align-items: center;
}

#header2 {
    height: 12vh;
    width: 100%;
    background-color: grey;
    font-size: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: end;
    align-items: center;
}

#header3 {
    height: 25vh;
    width: 100%;
    background-color: black;
    font-size: 30px;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    height: 65vh;
}

.container-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.container-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.container-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#box1 {
    height: 10vh;
    width: 5vw;
    background-color: rgb(137, 245, 234);
    border-radius: 4px;
}

#box2 {
    height: 20vh;
    width: 25vw;
    background-color:rgb(245, 169, 69);
}

#paragraph {
    display: flex;
    justify-content: left;
}

#image {
    height: 15vh;
    width: 20vw;
}

footer {
    background-color: rgb(49, 25, 49);
    height: 10vh;
    width: 100%;
}












/* #text-1 {
    color: white;
    text-align: left;
}

#text-2 {
    color: white;
    text-align: right;

}

.header-box {
    height: 20vh;
    width: 100%;
    justify-content: center;
}

#text-3 {
    color: yellow;
    text-align: center;
}


.container-1 {
    background-color: transparent;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#box1 {
    width: 150px;
    height: 150px;
}

.container-2 {
    background-color: transparent;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}

#box2 {
    height: 200px;
    width: 400px;
}

.container-3 {
    background-color: transparent;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}

p {
    justify-content: start;
}

.bottom-right-picture {
    height: 25px;
    width: 160px;
    flex-direction: row;
    align-content: center;
    justify-content: end;
}


#box3 {
    height: 150px;
    width: 100%;
} */